#infobar {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px 0 5px #707070;
  background: #FFFFFF;
}

#date-section {
  display: flex;
}
