@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin-top: 50px;
  padding: 25px 250px 50px 250px;
  background: #F8F8F8;
}

.card {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 2px #E0E0E0;
  display: flex;
  justify-content: center;
}
